<html>
<body>
<table width="100%" cellspacing="0" cellpadding="0" style="max-width:600px;border-left:solid 1px #e6e6e6;border-right:solid 1px #e6e6e6">
<tbody>
<tr> 
<td align="left" valign="top" style="color:#2c2c2c;display:block;font-weight:300;margin:0 auto;clear:both;border-bottom:1px solid #e6e6e6;background-color:#f9f9f9;padding:20px" bgcolor="#F9F9F9"> 
<p style="padding:0;margin:0;font-size:16px;font-size:13px"> Hi ${userName}, </p>
<br> 
<p style="padding:0;margin:0;color:#565656;font-size:13px">Greetings!</p>
<br>
<p style="padding:0;margin:0;color:#565656;line-height:10px;font-size:13px">  
You are just a step away from accessing your account</p>
<br> 
<p style="padding:0;margin:0;color:#565656;line-height:18px;font-size:13px">  
We are sharing a password reset link to reset your password. This link is valid for 10 minutes.</p>
<br> 
<p style="padding:0;margin:0;color:#565656;line-height:18px;font-size:13px">  
Once you have clicked the link, you'll be prompted to set a new password immediately. This is to ensure that only you have access to your account.</p>
<br> 
<p style="padding:0;margin:0;color:#565656;line-height:20px;font-size:13px"> Your Link: <a href="${token}"><strong>${token}</strong></a>
<br>  
Expires in: <strong>10 minutes only</strong> </p>
<br> 
<p style="padding:0;margin:0;color:#565656;line-height:20px;font-size:13px">  
 Best Regards, 
 <br>  
 Team RanjithKumar  
 </p>
 <br> 
 <p style="text-align:center;padding:0;margin:0" align="center"> </p>
 <br> 
 </td> 
 </tr> 
 </tbody>
 </table>
 </html>
</body>